<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <title>
            {% block titulo %}
            {%endblock%}
        </title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.3.3-dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/senha_adm.css') }}">

        
        <link rel="icon" type="logotipo" href="../static/img/Logotipo-SemFundo.png"> 

        {% block links %}
        {%endblock%}
    </head>

    <body>

        <header>
            <nav class="logo">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
            </nav>
        </header>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div id="responseMessage">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
            {% endif %}
        {% endwith %}

        {%block conteudo %}
        {% endblock %}

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="../static/bootstrap-5.3.3-dist/js/bootstrap.min.js"></script>
        
        <script>
            // JavaScript global para o comportamento das mensagens flash
            window.addEventListener('DOMContentLoaded', () => {
                const flashMessages = document.querySelectorAll('#responseMessage .alert');
                flashMessages.forEach(message => {
                    setTimeout(() => {
                        message.style.opacity = '0'; // Faz a mensagem desaparecer
                        setTimeout(() => message.remove(), 500); // Remove o elemento após a transição
                    }, 5000); // 5 segundos
                });
            });
        </script>
    </body>

</html>