{% extends 'base_funcionarios.html' %}

{% block titulo %}
Cadastro
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/administrador.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/funcionario.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/geren_veic.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/criar_veiculo.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/locacoes.css') }}">
{% endblock %}

{% block conteudo %}
<style>
  .row  {
    padding: 0 20px;
  }
  .row label{
    padding-left: 0;
  }
</style>
<main>
  <div id="divCriaFuncionario">
    <!--Inclua a rota correta aqui-->
    <form method="POST" action="{{ url_for('loc') }}" id="formCriaFuncionario" novalidate>
      <div id="blocoCriaFuncionario">
        <div class="row mb-3">
          <label for="dataAluguel" class="form-label">Data do aluguel</label>
          <input type="date" class="form-control w-100" id="dataAluguel" name="dataAluguel" required>
          <div class="invalid-feedback">Por favor, insira uma data válida.</div>
        </div>
        <div class="row mb-3">
          <label for="horaAluguel" class="form-label">Hora do aluguel</label>
          <input type="time" class="form-control w-100" id="horaAluguel" name="horaAluguel" required>
          <div class="invalid-feedback">Por favor, insira uma hora válida.</div>
        </div>
        <div class="row mb-3">
          <label for="dataDevolucao" class="form-label">Data de devolução</label>
          <input type="date" class="form-control w-100" id="dataDevolucao" name="dataDevolucao" required>
          <div class="invalid-feedback">Por favor, insira uma data válida.</div>
        </div>
        <div class="row mb-3">
          <label for="horaDevolucao" class="form-label">Hora de devolução</label>
          <input type="time" class="form-control w-100" id="horaDevolucao" name="horaDevolucao" required>
          <div class="invalid-feedback">Por favor, insira uma hora válida.</div>
        </div>
        <div class="row mb-3">
          <label for="campo" class="form-label">CPF do cliente</label>
          <input type="text" class="form-control w-100" id="campo-pesquisa" name="cpf"  pattern="(\d{3}\.\d{3}\.\d{3}-\d{2})" placeholder="Ex.: 000.000.000-00" oninput="formatarCPF(this)" >
        </div>
               
        <input type="text" name="idveiculo" id="idveiculo" value="{{veiculo[0]}}" hidden>
         
        <div class="row mb-3">
          <label for="percentualDesconto" class="form-label">Desconto (%)</label>
          <input type="number" class="form-control w-100" id="percentualDesconto" name="percentualDesconto" step="0.01"
            min="0" max="100" placeholder="0" required>
          <div class="invalid-feedback">Por favor, insira um percentual válido (0-100).</div>
        </div>
        <div class="row mb-3">
          <label for="percentualMulta" class="form-label">Multa (%)</label>
          <input type="number" class="form-control w-100" id="percentualMulta" name="percentualMulta" step="0.01"
            min="0" max="100" placeholder="0" required>
          <div class="invalid-feedback">Por favor, insira um percentual válido (0-100).</div>
        </div>

        <div class="row mb-3">
          <label for="valor" class="form-label">Valor da locação</label>
          <input type="text" class="form-control w-100" id="valor" name="valor" placeholder="00.00" readonly>
        </div>

        <div class="row mb-3">
          <label for="localDevolucao" class="form-label">Local de devolução</label>
          <input type="text" class="form-control w-100" id="localDevolucao" name="localDevolucao" placeholder="Ex.: Avenida Paulista, 358, São Paulo, SP, 01310-000" required>
          <div class="invalid-feedback">Por favor, insira uma data válida.</div>
        </div>

        <div class="row mb-3">
          <label for="condicoesSaida" class="form-label">Condições de saída do veículo</label>
          <textarea class="form-control w-100" id="condicoesSaida" name="condicoesSaida" rows="3" placeholder="Detalhes do veículo..." required></textarea>
          <div class="invalid-feedback">Por favor, insira as condições de saída do veículo.</div>
        </div>
      </div>
      <div id="confirmaCriaFuncionario" class="botao">
        <button type="submit">Confirmar</button>
      </div>
      <div id="cancelaCriaFuncionario" class="botao">
        <a href="{{ url_for('pesquisa_veiculo') }}"><button type="button">Cancelar</button></a>
      </div>
    </form>
  </div>
  <script>

    function formatarCPF(input) {
            let valor = input.value.replace(/\D/g, ""); // Remove caracteres não numéricos
            if (valor.length > 11) valor = valor.slice(0, 11); // Limita a 11 dígitos

            // Aplica a máscara de CPF
            if (valor.length > 9) {
                input.value = valor.replace(/(\d{3})(\d{3})(\d{3})(\d{1,2})/, "$1.$2.$3-$4");
            } else if (valor.length > 6) {
                input.value = valor.replace(/(\d{3})(\d{3})(\d{1,3})/, "$1.$2.$3");
            } else if (valor.length > 3) {
                input.value = valor.replace(/(\d{3})(\d{1,3})/, "$1.$2");
            } else {
                input.value = valor;
            }
        }

      document.getElementById('dataDevolucao').addEventListener('input', calcularValores);
      document.getElementById('horaDevolucao').addEventListener('input', calcularValores);
      document.getElementById('dataAluguel').addEventListener('input', calcularValores);
      document.getElementById('horaAluguel').addEventListener('input', calcularValores);
      document.getElementById('percentualDesconto').addEventListener('input', calcularValores);

      function calcularValores() {
          const dataDevolucao = document.getElementById('dataDevolucao').value; // data de devolução real
          const horaDevolucao = document.getElementById('horaDevolucao').value;
          const dataDev = new Date(dataDevolucao + 'T' + horaDevolucao);

          const dataLocacao =  document.getElementById('dataAluguel').value;
          const horaLocacao =  document.getElementById('horaAluguel').value;
          const dataLoc = new Date(dataLocacao + 'T' + horaLocacao);

          const valorDiaria = parseFloat("{{veiculo[9]}}".replace(',','.'));

          
          const desconto = document.getElementById('percentualDesconto').value; 

          if (!(dataDev && dataLoc && valorDiaria && desconto)){
            document.getElementById('valor').value = 0;
          }
          
          // caso a data de devolução seja após a data de devolução prevista
          if (dataDev && dataLoc && valorDiaria && desconto)  {
              
              const diffTime = dataDev - dataLoc;
              if (diffTime >= 1) {
                  const diffDays = Math.ceil(diffTime / (1000 * 3600 * 24)); 
                  
                  let totalDesconto = Math.round(((valorDiaria * diffDays) * (1-(desconto/100))) * 100)/100;
                  document.getElementById('valor').value = totalDesconto;
              } 
          }
      }
  </script>
</main>


{% endblock %}