{% extends 'base.html' %}

{% block titulo %}
Criar Veiculos
{% endblock %}


{% block conteudo %}
<main class="container">
    <!-- Card de dados com botão de edição abaixo -->
    <section class="flex-container">
        <div class="card">
            <div id="dados">
                <span id="cabecalho">
                    <p>Modelo: </p>
                    <p>Cor: </p>
                    <p>Marca: </p>
                </span>
                <p>Placa do veículo: </p>
                <p>RENAVAM: </p>
                <p>Ano de fabricação: </p>
                <p>Ano de aquisição: </p>
                <p>Valor da alocação: </p>
                <p>Tipo de combustível: </p>
                <p>Status: </p>
            </div>
        </div>
        <button class="btn-criar-veic" type="button">Confirmar</button>
        <button class="btn-criar-veic" type="button">Cancelar</button>
     </section>
</main>
{% endblock %}
