{% extends 'base.html' %}

{% block titulo %}
Gerenciar Veiculos
{% endblock %}


{% block conteudo %}
<main class="container">
    <!-- Card de dados com botão de edição abaixo -->
    <section class="flex-container">
        <div class="card">
            <div id="dados">
                <span id="cabecalho">
                    <p>Modelo: </p><p>Cor: </p><p>Marca: </p></span>
                </span>
                <p>Placa do veículo:</p>
                <p>RENAVAM:</p>
                <p>Ano de fabricação:</p>
                <p>Ano de aquisição:</p>
                <p>Valor da alocação:</p>
                <p>Tipo de combustível:</p>
            </div>
        </div>
        <button class="btn" type="button">Editar</button>
    </section>
</main>
{% endblock %}
