{% extends 'base_administrador.html' %}

{% block titulo %}
Gerenciar Veiculos
{% endblock %}

{%block links%}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/administrador.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/funcionario.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/geren_veic.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/criar_veiculo.css') }}">
{%endblock%}

{% block conteudo %}
<main class="main-pesquisar">

   <!-- Botão para cadastrar novo veiculo-->
   <div id="botaoCriar" class="botao">
        <a href="{{ url_for('frontend_criar_veiculos') }}">
            <button >Criar</button>
        </a>
    </div>

    <form action="{{ url_for('gerenciar_veiculos') }}" method="GET">
        <div id="divBusca">
            <input type="text" id="numBusca" name="modelo" placeholder="Modelo"/>
            <button type="submit"  id="btnBusca">
                <img src="{{ url_for('static', filename='img/search.svg') }}" alt="Buscar" style="cursor: pointer; width: 25px;"/>
            </button>
        </div>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div id="responseMessage">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} mt-3" id="alertMessage">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <!-- Card de dados com botão de edição abaixo -->
    <div class="blocoPesquisa">

        {% for veiculo in veiculos %}
        <div style="margin-bottom: 10px;" >
            <div class=" card card-body">
                <div class="row mb-3 align-items-center">
                    <label for="placa" class="col-sm-5 col-form-label">Modelo:</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="modelo" name="modelo" value="{{veiculo.Modelo}}" readonly>
                    </div>
                </div>

                <div class="row mb-3 align-items-center">
                    <label for="placa" class="col-sm-4 col-form-label">Cor:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="cor" name="cor" value="{{veiculo.Cor}}" readonly>
                    </div>
                </div>
                
                <div class="row mb-3 align-items-center">
                    <label for="placa" class="col-sm-4 col-form-label">Marca:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="marca" name="marca" value="{{veiculo.Marca}}" readonly>
                    </div>
                </div>

                <div class="row mb-3 align-items-center">
                    <label for="placa" class="col-sm-6 col-form-label">Placa do veículo:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="placa" name="placa" value="{{veiculo.Placa}}" readonly>
                    </div>
                </div>

                <div class="row mb-2 align-items-center">
                    <label for="renavam" class="col-sm-4 col-form-label">RENAVAM:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="renavam" name="renavam" value="{{veiculo.RENAVAM}}" readonly>
                    </div>
                </div>

                <div class="row mb-2 align-items-center">
                    <label for="anoFabricacao" class="col-sm-6 col-form-label">Ano de fabricação:</label>
                    <div class="col-sm-6">
                        <input type="date" class="form-control" id="anoFabricacao" name="anoFabricacao" value="{{veiculo.Ano_Fabricacao}}" readonly>
                    </div>
                </div>

                <div class="row mb-2 align-items-center">
                    <label for="anoAquisicao" class="col-sm-6 col-form-label">Ano de aquisição:</label>
                    <div class="col-sm-6">
                        <input type="date" class="form-control" id="anoAquisicao" name="anoAquisicao" value="{{veiculo.Ano_Aquisicao}}" readonly>
                    </div>
                </div>

                <div class="row mb-2 align-items-center">
                    <label for="valorAlocacao" class="col-sm-6 col-form-label">Valor da alocação:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="valorAlocacao" name="valorAlocacao" value="{{veiculo.Valor_Locacao_Dia}}" readonly>
                    </div>
                </div>

                <div class="row mb-2 align-items-center">
                    <label for="valorAlocacao" class="col-sm-6 col-form-label">Tipo de combustível:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="tipoCombustivel" name="tipoCombustivel" value="{{veiculo.Tipo_Combustivel}}" readonly>
                    </div>
                </div>

                <div class="row mb-2 align-items-center">
                    <label for="valorAlocacao" class="col-sm-6 col-form-label">Status:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="Status" name="Status" value="{{veiculo.Status}}" readonly>
                    </div>
                </div>
            </div>

            <div class="align-items-end">
                <form action="/administrador/veiculos/frontend_editar_veiculo" method="POST">
                    <input type="hidden" value="{{veiculo.id}}" name="veiculo">
                    <div class="botaoEditarFuncionario botao">
                        <button>Editar</button>
                    </div>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}
