{% extends 'base.html' %}

{% block titulo %}
Gerenciar Veiculos
{% endblock %}


{% block conteudo %}
<main class="container">
    <!-- Botão para cadastrar veiculo-->
    <span>
        <button class="btn-criar" type="button">Criar</button>
    </span>

    <!-- Card de dados com botão de edição abaixo -->
    <section class="flex-container">
        <div class="card">
            <div id="dados">
                <span id="cabecalho">
                    <p>Modelo: </p>
                    <p>Cor: </p>
                    <p>Marca: </p>
                </span>
                <p>Placa do veículo: </p>
                <p>RENAVAM: </p>
                <p>Ano de fabricação: </p>
                <p>Ano de aquisição: </p>
                <p>Valor da alocação: </p>
                <p>Tipo de combustível: </p>
                <p>Status: </p>
            </div>
        </div>
        <button class="btn" type="button">Editar</button>
    </section>
</main>
{% endblock %}
