{% extends 'base_cliente.html' %}

{% block titulo %}
Historico Devolução
{% endblock %}

{% block links %}
{% endblock %}

{% block conteudo %}

    <main class="historico">
        <div class="devolução">
            <div class="linha">
                <label for="dataDevolucao">Data de Devolução:</label>
                <input type="date" id="dataDevolucao" name="dataDevolucao">
            </div>
            <div class="linha">
                <label for="horaDevolucao">Hora de Devolução:</label>
                <input type="time" id="horaDevolucao" name="horaDevolucao">
            </div>
            <div class="linha">
                <label for="multa">Multas:</label>
                <input type="text" id="multa" name="multa">
            </div>
            <div class="linha">
                <label for="localDevolucao">Local de Devolução:</label>
                <input type="text" id="localDevolucao" name="localDevolucao">
            </div>
            <div class="linha">
                <label for="valorTotal">Valor Total:</label>
                <input type="number" id="valorTotal" name="valorTotal">
            </div>
            <div class="linha">
                <label for="condicoes">Condições:</label>
                <input type="text" id="condicoes" name="condicoes">
            </div>
        </div>

        <div class="devolução">
            <div class="linha">
                <label for="dataDevolucao">Data de Devolução:</label>
                <input type="date" id="dataDevolucao" name="dataDevolucao">
            </div>
            <div class="linha">
                <label for="horaDevolucao">Hora de Devolução:</label>
                <input type="time" id="horaDevolucao" name="horaDevolucao">
            </div>
            <div class="linha">
                <label for="multa">Multas:</label>
                <input type="text" id="multa" name="multa">
            </div>
            <div class="linha">
                <label for="localDevolucao">Local de Devolução:</label>
                <input type="text" id="localDevolucao" name="localDevolucao">
            </div>
            <div class="linha">
                <label for="valorTotal">Valor Total:</label>
                <input type="number" id="valorTotal" name="valorTotal">
            </div>
            <div class="linha">
                <label for="condicoes">Condições:</label>
                <input type="text" id="condicoes" name="condicoes">
            </div>
        </div>

        <div class="devolução">
            <div class="linha">
                <label for="dataDevolucao">Data de Devolução:</label>
                <input type="date" id="dataDevolucao" name="dataDevolucao">
            </div>
            <div class="linha">
                <label for="horaDevolucao">Hora de Devolução:</label>
                <input type="time" id="horaDevolucao" name="horaDevolucao">
            </div>
            <div class="linha">
                <label for="multa">Multas:</label>
                <input type="text" id="multa" name="multa">
            </div>
            <div class="linha">
                <label for="localDevolucao">Local de Devolução:</label>
                <input type="text" id="localDevolucao" name="localDevolucao">
            </div>
            <div class="linha">
                <label for="valorTotal">Valor Total:</label>
                <input type="number" id="valorTotal" name="valorTotal">
            </div>
            <div class="linha">
                <label for="condicoes">Condições:</label>
                <input type="text" id="condicoes" name="condicoes">
            </div>
        </div>

        <div class="devolução">
            <div class="linha">
                <label for="dataDevolucao">Data de Devolução:</label>
                <input type="date" id="dataDevolucao" name="dataDevolucao">
            </div>
            <div class="linha">
                <label for="horaDevolucao">Hora de Devolução:</label>
                <input type="time" id="horaDevolucao" name="horaDevolucao">
            </div>
            <div class="linha">
                <label for="multa">Multas:</label>
                <input type="text" id="multa" name="multa">
            </div>
            <div class="linha">
                <label for="localDevolucao">Local de Devolução:</label>
                <input type="text" id="localDevolucao" name="localDevolucao">
            </div>
            <div class="linha">
                <label for="valorTotal">Valor Total:</label>
                <input type="number" id="valorTotal" name="valorTotal">
            </div>
            <div class="linha">
                <label for="condicoes">Condições:</label>
                <input type="text" id="condicoes" name="condicoes">
            </div>
        </div>
    </main>
{% endblock %}
