{% extends 'base_cliente.html' %}

{% block titulo %}
Historico Locação
{% endblock %}

{% block links %}
{% endblock %}

{% block conteudo %}

    <main class="historico">
        <div class="alocação">
            <div class="linha">
                <label for="cliente">Cliente:</label>
                <input type="text" id="cliente" name="cliente">
                <label for="veiculo">Veículo:</label>
                <input type="text" id="veiculo" name="veiculo">
            </div>
            <div class="linha">
                <label for="dataAluguel">Data do Aluguel:</label>
                <input type="date" id="dataAluguel" name="dataAluguel">
            </div>
            <div class="linha">
                <label for="horaAluguel">Hora do Aluguel:</label>
                <input type="time" id="horaAluguel" name="horaAluguel">
            </div>
            <div class="linha">
                <label for="dataPrevistaDevolução">Data Prevista da Devolução:</label>
                <input type="date" id="dataPrevistaDevolução" name="dataPrevistaDevolução">
            </div>
            <div class="linha">
                <label for="horaPrevistaDevolução">Hora Prevista da Devolução:</label>
                <input type="time" id="horaPrevistaDevolução" name="horaPrevistaDevolução">
            </div>
            <div class="linha">
                <label for="desconto">Desconto:</label>
                <input type="porcentage" id="desconto" name="desconto">
                <label for="multa">Multas:</label>
                <input type="text" id="multa" name="multa">
            </div>
            <div class="linha">
                <label for="status" class="col-sm-4 col-form-label">Status:</label>
                <div class="col-sm-8">
                    <select class="form-select" id="status" name="status">
                        <option disabled required>Selecione...</option>
                    </select> 
                </div>
        </div>
    </main>

{% endblock %}
