{% extends 'base.html' %}

{% block titulo %}
Login
{% endblock %}

{% block links %}
{% endblock %}

{% block conteudo %}

    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div id="responseMessage">
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} mt-3" id="alertMessage">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            <div class="login-box">
                <img src="../static/img/IconeUsuário.png">
                <form action="/entrar" method="post">

                    {% if usuario %}
                        <input type="text" placeholder="Usuário" name="usuario" value="{{usuario}}" required>
                    {% else %}
                        <input type="text" placeholder="Usuário" name="usuario" required>
                    {% endif %}
                    
                    <input type="password" placeholder="Senha" name="senha" required>
                    <button type="submit">Entrar</button>
                </form>
            </div>
    </main>
{% endblock %}
