{% extends 'base.html' %}

{% block titulo %}
Login
{% endblock %}

{% block links %}
{% endblock %}

{% block conteudo %}

    <main>
            <div class="login-box">
                <img src="../static/img/IconeUsuário.png">
                <form action="/entrar" method="post">

                    {% if usuario %}
                        <input type="text" placeholder="Usuário" name="usuario" value="{{usuario}}" required>
                    {% else %}
                        <input type="text" placeholder="Usuário" name="usuario" required>
                    {% endif %}
                    
                    <input type="password" placeholder="Senha" name="senha" required>
                    <button type="submit">Entrar</button>
                </form>
            </div>
    </main>
{% endblock %}
