{% extends 'base_funcionarios.html' %}

{% block titulo %}
Locações
{% endblock %}

{% block links %}
{% endblock %}

{% block conteudo %}

<main class="pesquisar-funcionario">

    {% if locacoes %}
        {% for locacao in locacoes %}
            <div class="blocoPesquisa">

                <div class="blocoFuncionario">
                    <div class="dadosFuncionario">
                        <div class="linha">
                            <p><strong>Cliente:</strong> {{ locacao.cliente }}</p>
                            <p><strong>Veículo:</strong> {{ locacao.veiculo }}</p>
                        </div>
                        <p><strong>Data do aluguel:</strong> {{ locacao.data_aluguel }}</p>
                        <p><strong>Hora do aluguel:</strong> {{ locacao.hora_aluguel }}</p>
                        <p><strong>Data prevista da devolução:</strong> {{ locacao.data_devolucao }}</p>
                        <p><strong>Hora prevista da devolução:</strong> {{ locacao.hora_devolucao }}</p>
                        <div class="linha">
                            <p><strong>Desconto:</strong> {{ locacao.desconto }}%</p>
                            <p><strong>Multa:</strong> {{ locacao.multa }}%</p>
                        </div>
                        <p><strong>Condições de saída do veículo:</strong> {{ locacao.condicoes_saida }}</p>
                        <p><strong>Status:</strong> {{ locacao.status }}</p>
                    </div>

                    <div class="botoesLoc">
                        <!-- Botão Criar Devolução -->
                        <a href="#" id="ajuste" class="botao">
                            <button>Criar Devolução</button>
                        </a>
                    
                        <!-- Botão Editar (Redirecionando para o formulário de edição) -->
                        <a href="#" class="botaoEditarFuncionario botao">
                            <button>Editar</button>
                        </a>
                    </div>
                </div>

                <div class="blocoEditarDados">
                    <form action="{{ url_for('locacoes') }}" method="POST" class="editarFuncionario" novalidate>
                        <div class="blocoEdicao">

                            <input name="id" type="hidden" value="{{ locacao.id }}">

                            <div class="row mb-3">
                                <div class="input-group col-sm-10">
                                    <label for="cliente" class="col-sm-2 col-form-label">Cliente</label>
                                    <input type="text" class="form-control" id="cliente" name="cliente" value="{{ locacao.cliente }}" required>
                                    <div class="invalid-feedback">
                                        Por favor, insira um cliente válido.
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="input-group col-sm-10">
                                    <label for="veiculo" class="col-sm-2 col-form-label">Veículo</label>
                                    <input type="text" class="form-control" id="veiculo" name="veiculo" value="{{ locacao.veiculo }}" required>
                                    <div class="invalid-feedback">
                                        Por favor, insira um veículo válido.
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="input-group col-sm-10">
                                    <label for="data_aluguel" class="col-sm-2 col-form-label">Data do Aluguel</label>
                                    <input type="date" class="form-control" id="data_aluguel" name="data_aluguel" value="{{ locacao.data_aluguel }}" required>
                                    <div class="invalid-feedback">
                                        Por favor, insira uma data válida.
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="input-group col-sm-10">
                                    <label for="hora_aluguel" class="col-sm-2 col-form-label">Hora do Aluguel</label>
                                    <input type="time" class="form-control" id="hora_aluguel" name="hora_aluguel" value="{{ locacao.hora_aluguel }}" required>
                                    <div class="invalid-feedback">
                                        Por favor, insira um horário válido.
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="input-group col-sm-10">
                                    <label for="data_devolucao" class="col-sm-2 col-form-label">Data Prevista da Devolução</label>
                                    <input type="date" class="form-control" id="data_devolucao" name="data_devolucao" value="{{ locacao.data_devolucao }}" required>
                                    <div class="invalid-feedback">
                                        Por favor, insira uma data válida.
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="input-group col-sm-10">
                                    <label for="hora_devolucao" class="col-sm-2 col-form-label">Hora Prevista da Devolução</label>
                                    <input type="time" class="form-control" id="hora_devolucao" name="hora_devolucao" value="{{ locacao.hora_devolucao }}" required>
                                    <div class="invalid-feedback">
                                        Por favor, insira um horário válido.
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="input-group col-sm-10">
                                    <label for="desconto" class="col-sm-2 col-form-label">Desconto (%)</label>
                                    <input type="number" class="form-control" id="desconto" name="desconto" value="{{ locacao.desconto }}" min="0" max="100" required>
                                    <div class="invalid-feedback">
                                        Por favor, insira um desconto válido.
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="input-group col-sm-10">
                                    <label for="multa" class="col-sm-2 col-form-label">Multa (%)</label>
                                    <input type="number" class="form-control" id="multa" name="multa" value="{{ locacao.multa }}" min="0" max="100" required>
                                    <div class="invalid-feedback">
                                        Por favor, insira uma multa válida.
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="input-group col-sm-10">
                                    <label for="condicoes_saida" class="col-sm-2 col-form-label">Condições de Saída</label>
                                    <textarea class="form-control" id="condicoes_saida" name="condicoes_saida" required>{{ locacao.condicoes_saida }}</textarea>
                                    <div class="invalid-feedback">
                                        Por favor, insira condições de saída válidas.
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="input-group col-sm-10">
                                    <label for="status" class="col-sm-2 col-form-label">Status</label>
                                    <select class="form-control" id="status" name="status" required>
                                        <option value="Em andamento" {% if locacao.status == "Ativo" %}selected{% endif %}>Ativo</option>
                                        <option value="Concluído" {% if locacao.status == "Concluído" %}selected{% endif %}>Concluído</option>
                                        <option value="Cancelado" {% if locacao.status == "Cancelado" %}selected{% endif %}>Cancelado</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Por favor, selecione um status válido.
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="botaoConfirmarEdicao botao">
                            <button type="submit">Confirmar</button>
                        </div>
                        <div class="botaoCancelarEdicao botao">
                            <a href="{{ url_for('locacoes') }}"><button type="button">Cancelar</button></a>
                        </div>
                    </form>
                </div>

            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-warning mt-3">
            Nenhuma locação disponível no momento.
        </div>
    {% endif %}

</main>

{% endblock %}
