{% extends 'base_funcionarios.html' %}

{% block titulo %}
Locações
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/administrador.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/funcionario.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/geren_veic.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/criar_veiculo.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/locacoes.css') }}">
{% endblock %}

{% block conteudo %}

<style>
    .row  {
      padding: 0 20px;
    }
    .row label{
      padding-left: 0;
    }
  </style>

<main class="main-pesquisar">

    {% if locacoes %}
        {% for locacao in locacoes %}
            <div class="blocoPesquisa">

                <div class="blocoFuncionario">
                    <div class="dadosFuncionario">
                        <div class="linha">
                            <p><strong>Cliente:</strong> {{ locacao.Nome }}</p>
                            <p><strong>Veículo:</strong> {{ locacao.Modelo }}</p>
                        </div>
                        <p><strong>Data/Hora do aluguel:</strong> {{ locacao.Data_Hora_Locacao }}</p>
                        <p><strong>Data/Hora prevista da devolução:</strong> {{ locacao.Data_Hora_Prevista_Devolucao }}</p>
                        <p><strong>Valor do aluguel: R$</strong> {{ locacao.Valor }}</p>
                        <div class="linha">
                            <p><strong>Desconto:</strong> {{ locacao.Desconto }}%</p>
                            <p><strong>Multa:</strong> {{ locacao.Multa }}%</p>
                        </div>
                        <p><strong>Condições de saída do veículo:</strong> {{ locacao.Condicoes_Veiculo }}</p>
                        <p><strong>Status:</strong> {{ locacao.Status }}</p>
                    </div>

                    <div class="botoesLoc">

                        <div>
                            <form class="formDevolucao" action="{{ url_for('criar_devolucao') }}" method="POST">
                                <input type="hidden" value="{{locacao.id}}" name="locacao">
                                <div id="ajuste" class="botao">
                                    <button name="form1">Criar Devolução</button>
                                </div>
                            </form>
                        </div>
                    
                        <!-- Botão Editar (Redirecionando para o formulário de edição) -->
                        <div class="botaoEditarFuncionario botao">
                            <button>Editar</button>
                        </div>
                    </div>
                </div>

                <div class="blocoEditarDados">
                    <form action="{{ url_for('locacoes') }}" method="POST" class="editarFuncionario" novalidate>
                        <div class="blocoEdicao">

                            <input name="id" type="hidden" value="{{ locacao.id }}">

                            <div class="row mb-3">
                                <label for="data_aluguel" class="form-label">Data do Aluguel</label>
                                <input type="date" class="form-control w-100" id="data_aluguel" name="data_aluguel" value="{{ locacao.data_locacao }}" required>
                                <div class="invalid-feedback">
                                    Por favor, insira uma data válida.
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="hora_aluguel" class="form-label">Hora do Aluguel</label>
                                <input type="time" class="form-control w-100" id="hora_aluguel" name="hora_aluguel" value="{{ locacao.hora_locacao }}" required>
                                <div class="invalid-feedback">
                                    Por favor, insira um horário válido.
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="data_devolucao" class="form-label">Data Prevista da Devolução</label>
                                <input type="date" class="form-control w-100" id="data_devolucao" name="data_devolucao" value="{{ locacao.data_devolucao }}" required>
                                <div class="invalid-feedback">
                                    Por favor, insira uma data válida.
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="hora_devolucao" class="form-label">Hora Prevista da Devolução</label>
                                <input type="time" class="form-control w-100" id="hora_devolucao" name="hora_devolucao" value="{{ locacao.hora_devolucao }}" required>
                                <div class="invalid-feedback">
                                    Por favor, insira um horário válido.
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="desconto" class="form-label">Desconto (%)</label>
                                <input type="number" class="form-control w-100" id="desconto" name="desconto" value="{{ locacao.Desconto }}" min="0" max="100" required>
                                <div class="invalid-feedback">
                                    Por favor, insira um desconto válido.
                                </div>
                            </div>

                            <input id="diaria" name="diaria" value="{{locacao.Diaria}}" type="hidden" readonly>

                            <div class="row mb-3">
                                <label for="valor" class="form-label">Valor da locação</label>
                                <input type="text" class="form-control w-100" id="valor" name="valor" placeholder="00.00" value="{{locacao.Valor}}" readonly>
                            </div>

                            <div class="row mb-3">
                                <label for="localDevolucao" class="form-label">Local de devolução</label>
                                <input type="text" class="form-control w-100" id="localDevolucao" name="localDevolucao" value="{{locacao.LocalDevolucao}}" placeholder="Ex.: Avenida Paulista, 358, São Paulo, SP, 01310-000" required>
                                <div class="invalid-feedback">Por favor, insira uma data válida.</div>
                              </div>


                            <div class="row mb-3">
                                <label for="multa" class="form-label">Multa (%)</label>
                                <input type="number" class="form-control w-100" id="multa" name="multa" value="{{ locacao.Multa }}" min="0" max="100" required>
                                <div class="invalid-feedback">
                                    Por favor, insira uma multa válida.
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="condicoes_saida" class="form-label">Condições de Saída</label>
                                <textarea class="form-control w-100" id="condicoes_saida" name="condicoes_saida" required>{{ locacao.Condicoes_Veiculo }}</textarea>
                                <div class="invalid-feedback">
                                    Por favor, insira condições de saída válidas.
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="status" class="form-label">Status</label>
                                <select class="form-control w-100" id="status" name="status" required>
                                    <option value="Ativo" {% if locacao.Status == "Ativo" %}selected{% endif %}>Ativo</option>
                                    <option value="Cancelado" {% if locacao.Status == "Cancelado" %}selected{% endif %}>Cancelado</option>
                                </select>
                                <div class="invalid-feedback">
                                    Por favor, selecione um status válido.
                                </div>
                            </div>
                        </div>

                        <div class="botaoConfirmarEdicao botao">
                            <button type="submit">Confirmar</button>
                        </div>
                        <div class="botaoCancelarEdicao botao">
                            <a href="{{ url_for('locacoes') }}"><button type="button">Cancelar</button></a>
                        </div>
                    </form>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-warning mt-3">
            Nenhuma locação disponível no momento.
        </div>
    {% endif %}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const forms = document.querySelectorAll('.editarFuncionario');
    
            forms.forEach((form) => {
                const dataDevolucao = form.querySelector('#data_devolucao');
                const horaDevolucao = form.querySelector('#hora_devolucao');
                const dataAluguel = form.querySelector('#data_aluguel');
                const horaAluguel = form.querySelector('#hora_aluguel');
                const desconto = form.querySelector('#desconto');
                const valor = form.querySelector('#valor');
                const diaria = form.querySelector('#diaria').value;
                const valorDiaria =  parseFloat(diaria.replace(',','.'))
    
                function calcularValores() {
                    const dataDev = new Date(dataDevolucao.value + 'T' + horaDevolucao.value);
                    const dataLoc = new Date(dataAluguel.value + 'T' + horaAluguel.value);
            

                    if (!(dataDev && dataLoc && desconto.value)) {
                        valor.value = 0;
                        return;
                    }
    
                    const diffTime = dataDev - dataLoc;
                    console.log(diffTime)
                    if (diffTime >= 1) {
                        const diffDays = Math.ceil(diffTime / (1000 * 3600 * 24));
                        let totalDesconto = Math.round(((valorDiaria * diffDays) * (1 - (desconto.value / 100))) * 100) / 100;
                        valor.value = totalDesconto;
                    } else {
                        valor.value = 0;
                    }
                }
    
                dataDevolucao.addEventListener('input', calcularValores);
                horaDevolucao.addEventListener('input', calcularValores);
                dataAluguel.addEventListener('input', calcularValores);
                horaAluguel.addEventListener('input', calcularValores);
                desconto.addEventListener('input', calcularValores);
            });
        });
    </script>
</main>

{% endblock %}