{% extends 'base_administrador.html' %}

{% block titulo %}
Pesquisar Funcionários
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/administrador.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/funcionario.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/geren_veic.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/criar_veiculo.css') }}">
{% endblock %}

{% block conteudo %}


<main class="main-pesquisar">

    <div id="botaoCriar" class="botao">
        <a href="{{ url_for('criar_funcionario') }}">
            <button>Criar Funcionário</button>
        </a>
    </div>

    <form action="{{ url_for('pesquisar_funcionario') }}" method="POST">
        <div id="divBusca">
            <input inputmode="numeric" type="text" id="numBusca" name="informacao" placeholder="CPF/Nome"/>
            <button type="submit"  id="btnBusca" name="form1">
                <img src="{{ url_for('static', filename='img/search.svg') }}" alt="Buscar" style="cursor: pointer; width: 25px;"/>
            </button>
        </div>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div id="responseMessage2">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} mt-3" id="alertMessage">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    
    {% if funcionarios %}
        {% for i in funcionarios%}
            <div class="blocoPesquisa">

                <div class="blocoFuncionario">

                    <div class="dadosFuncionario">
                        <p><strong>Nome:</strong> {{ i.Nome }}</p>
                        <p><strong>CPF:</strong> {{ i.CPF }}</p>
                        <p><strong>Telefone:</strong> {{ i.Telefone }}</p>
                        <p><strong>E-mail:</strong> {{ i.Email }}</p>
                        <p><strong>Data de Nascimento:</strong> {{ i.Data_Nascimento }}</p>
                        <p><strong>Endereço:</strong> {{ i.Endereco }}</p>
                        <p><strong>Status:</strong> {{ i.Status}}</p>
                    </div>   

                    <div class="botaoEditarFuncionario botao">
                        <button>Editar</button>
                    </div>


                </div>

                <div class="blocoEditarDados">
                    <form action="{{ url_for('pesquisar_funcionario') }}" method="POST" class="editarFuncionario" novalidate>
                        <div class="blocoEdicao">

                            <div>
                                <input name="id" type="hidden" value="{{i.id}}"></input>
                            </div>
                            <div class="row mb-3" >
                                <label for="nome" class="col-sm-2 col-form-label">Nome</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="nome2" name="nome" value="{{i.Nome}}" placeholder="Ex.: Nome" required minlength="3" >
                                    <div class="invalid-feedback">
                                    Por favor, um nome.
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row mb-3">
                                <label for="cpf" class="col-sm-2 col-form-label">CPF</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="cpf2" pattern="(\d{3}\.\d{3}\.\d{3}-\d{2})" name="cpf" value="{{i.CPF}}" placeholder="Ex.: 000.000.000-00" oninput="formatarCPF(this)" required>
                                    <div class="invalid-feedback">
                                    Por favor, insira um CPF válido, apenas números.
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="telefone" class="col-sm-2 col-form-label">Telefone</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="telefone2" pattern="\(\d{2}\) \d{4,5}-\d{4}" name="telefone" value="{{i.Telefone}}" required placeholder="(47) 99999-9999" title="Digite no formato (47) 99999-9999.">
                                    <div class="invalid-feedback">
                                    Por favor, insira um número de telefone válido.
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="email" class="col-sm-2 col-form-label">E-mail</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="email2" placeholder="Ex.: nome@gmail.com"
                                    pattern="/^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/"
                                    name="email" value="{{i.Email}}" required>
                                    <div class="invalid-feedback">
                                    Por favor, insira um email válido.
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="dataNascimento" class="col-sm-2 col-form-label">Data de Nascimento</label>
                                <div class="col-sm-10">
                                    <input type="date" class="form-control" id="dataNascimento2" name="data_nascimento" value="{{i.Data_Nascimento}}" required>
                                    <div class="invalid-feedback">
                                    Por favor, informe uma data de nascimento válido.
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="endereco" class="col-sm-2 col-form-label">Endereço</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="endereco2" name="endereco" value="{{i.Endereco}}" placeholder="Ex.: Avenida Paulista, 358, São Paulo, SP, 01310-000"  required>
                                    <div class="invalid-feedback">
                                    Por favor, informe um endereço válido.
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3 senha-container">
                                <label for="senha2" class="col-sm-2 col-form-label">Senha</label>
                                <div class="col-sm-10" style="display: flex; flex-wrap: wrap;" >
                                    <input style="flex:1" type="password" class="form-control senha " id="senha2" name="senha" minlength="6">
                                    <button type="button" class="input-group-text botao-ver-senha senha ">
                                        <img class="olho" src="{{ url_for('static', filename='img/eye.png') }}" 
                                             style="cursor: pointer; width: 25px;"
                                             data-olho1="{{ url_for('static', filename='img/eye.png') }}"
                                             data-olho2="{{ url_for('static', filename='img/eye-close-up.png') }}">
                                      </button>
                                    <div class="invalid-feedback">
                                    Por favor, insira uma senha de no mínimo 6 dígitos.
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="status" class="col-sm-2 col-form-label">Status</em></label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="status2" name="status">    
                                        <option value="ativo"{% if i.Status == "ativo" %}selected{% endif %}>Ativo</option>
                                        <option value="inativo" {% if i.Status == "inativo" %}selected{% endif %} >Inativo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="botaoConfirmarEdicao botao">
                            <button type="submit" name="form2">Confirmar</button>
                        </div>
                        <div class="botaoCancelarEdicao botao">
                            <a href="{{ url_for('pesquisar_funcionario') }}"><button type="button">Cancelar</button></a>
                        </div>
                    </form>
                    <div class="responseMessage2" class="alert d-none" role="alert"></div>
                </div>
            </div>
        {% endfor %}

    {% endif %}
    <script>
        document.getElementById('telefone2').addEventListener('input', function (e) {
          let input = e.target.value.replace(/\D/g, ''); // Remove tudo que não for número
          if (input.length > 10) {
            input = input.replace(/^(\d{2})(\d{5})(\d{4}).*/, '($1) $2-$3'); // Formato com 5 dígitos no número
          } else if (input.length > 6) {
            input = input.replace(/^(\d{2})(\d{4})(\d{0,4}).*/, '($1) $2-$3'); // Formato com 4 dígitos no número
          } else if (input.length > 2) {
            input = input.replace(/^(\d{2})(\d{0,5}).*/, '($1) $2'); // Formato com DDD
          } else {
            input = input.replace(/^(\d*)/, '($1'); // Apenas DDD
          }
          e.target.value = input;
        });

        // Script para validação da data de nascimento (Editar cliente)
        document.querySelectorAll('.editarFuncionario').forEach(form => {
            form.addEventListener('submit', function(event) {
                const dataNascimentoInput = form.querySelector('input[name="data_nascimento"]');
                const dataNascimento = new Date(dataNascimentoInput.value);
                const dataAtual = new Date();
    
                let idade = dataAtual.getFullYear() - dataNascimento.getFullYear();
                const mes = dataAtual.getMonth() - dataNascimento.getMonth();
    
                if (mes < 0 || (mes === 0 && dataAtual.getDate() < dataNascimento.getDate())) {
                    idade--;
                }
    
                if (idade < 18) {
                    dataNascimentoInput.classList.add('is-invalid');
                    event.preventDefault();
                } else {
                    dataNascimentoInput.classList.remove('is-invalid');
                }
            });
        });

        function formatarCPF(input) {
            let valor = input.value.replace(/\D/g, ""); // Remove caracteres não numéricos
            if (valor.length > 11) valor = valor.slice(0, 11); // Limita a 11 dígitos

            // Aplica a máscara de CPF
            if (valor.length > 9) {
                input.value = valor.replace(/(\d{3})(\d{3})(\d{3})(\d{1,2})/, "$1.$2.$3-$4");
            } else if (valor.length > 6) {
                input.value = valor.replace(/(\d{3})(\d{3})(\d{1,3})/, "$1.$2.$3");
            } else if (valor.length > 3) {
                input.value = valor.replace(/(\d{3})(\d{1,3})/, "$1.$2");
            } else {
                input.value = valor;
            }
        }
      </script>
</main>

{% endblock %}