{% extends 'base_administrador.html' %}

{% block titulo %}
Pesquisar Funcionários
{% endblock %}

{% block links %}
{% endblock %}

{% block conteudo %}


<main class="pesquisar-funcionario">

    <div id="botaoCriarFuncionario" class="botao">
        <a href="{{ url_for('criar_funcionario') }}">
            <button>Criar</button>
        </a>
    </div>

    <div class="blocoFuncionario">
        <div id="divBusca">
            <input maxlength="14" pattern="\d{11}|\d{14}" inputmode="numeric" type="text" id="numBusca" placeholder="CPF/CNPJ"/>
            <img src="{{ url_for('static', filename='img/search.svg') }}" id="btnBusca" alt="Buscar" onclick="PesquisarFuncionario()" style="cursor: pointer; width: 25px;"/>
        </div>

        <div class="blocoFuncionario">

            <div id="dadosFuncionario">
                {% if resultados %}
                <ul>
                    {% for item in resultados %}
                    <li>{{ item.nome }} - {{ item.descricao }} - R$ {{ item.preco }}</li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>Nenhum resultado encontrado.</p>
                {% endif %}
            </div>

            <div id="botaoEditarFuncionario" class="botao">
                <button>Editar</button>
            </div>
        </div>
    </div>

</main>

{% endblock %}