{% extends 'base_funcionarios.html' %}

{% block titulo %}
Pesquisar Cliente
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/administrador.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/funcionario.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/geren_veic.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/criar_veiculo.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/locacoes.css') }}">
{% endblock %}



{% block conteudo %}


<main class="main-pesquisar">

    <div id="botaoCriar" class="botao">
        <a href="{{ url_for('criar_cliente') }}">
            <button>Criar Clientes</button>
        </a>
    </div>

    <form action="{{ url_for('pesquisar_clientes') }}" method="POST">
        <div id="divBusca">
            <input inputmode="numeric" type="text" id="numBusca" name="informacao" placeholder="Nome/CPF/CNPJ" style="width: 200px;">
            <button type="submit"  id="btnBusca" name="form1">
                <img src="{{ url_for('static', filename='img/search.svg') }}" alt="Buscar" style="cursor: pointer; width: 25px;"/>
            </button>
        </div>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div id="responseMessage2">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} mt-3" id="alertMessage">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    
    {% if clientes %}
        {% for i in clientes%}
            <div class="blocoPesquisa">

                <div class="blocoFuncionario">

                    <div class="dadosFuncionario">
                        <p><strong>Nome:</strong> {{ i.Nome }}</p>
                        <p><strong>CPF/CNPJ:</strong> {{ i.CPF if i.CPF else i.CNPJ }}</p>
                        <p><strong>Telefone:</strong> {{ i.Telefone }}</p>
                        <p><strong>E-mail:</strong> {{ i.Email }}</p>
                        <p><strong>Data de Nascimento:</strong> {{ i.Data_Nascimento }}</p>
                        <p><strong>Endereço:</strong> {{ i.Endereco }}</p>
                        <p><strong>CNH:</strong> {{ i.Numero_CNH }}</p>
                        <p><strong>Tipo CNH:</strong> {{ i.Tipo_CNH }}</p>
                    </div>   

                    <div class="botaoEditarFuncionario botao">
                        <button>Editar</button>
                    </div>


                </div>

                <div class="blocoEditarDados">
                    <form action="{{ url_for('pesquisar_clientes') }}" method="POST" class="editarFuncionario" novalidate>
                        <div class="blocoEdicao">

                            <div>
                                <input name="id" type="hidden" value="{{i.id}}"></input>
                            </div>
                            <div class="row mb-3">
                                <label for="nome" class="col-sm-2 col-form-label">Nome</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="nome2" name="nome" value="{{ i.Nome }}" required minlength="3">
                                    <div class="invalid-feedback">
                                        Por favor, insira um nome válido.
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row mb-3">
                                <label for="cpf" class="col-sm-2 col-form-label">CPF/CNPJ</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="cpf_cnpj" pattern="(\d{11}|\d{14})" name="cpf_cnpj" value="{{ i.CPF  if i.CPF else i.CNPJ}}" required>
                                    <div class="invalid-feedback">
                                        Por favor, insira um CPF ou CNPJ válido, apenas números.
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="telefone" class="col-sm-2 col-form-label">Telefone</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="telefone2" pattern="\d{8,9}" name="telefone" value="{{ i.Telefone }}" required>
                                    <div class="invalid-feedback">
                                        Por favor, insira um número de telefone válido.
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="email" class="col-sm-2 col-form-label">E-mail</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="email2"
                                    pattern="/^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/"
                                    name="email" value="{{i.Email}}"  required>
                                    <div class="invalid-feedback">
                                    Por favor, insira um email válido.
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="input-group col-sm-10">
                                    <label for="dataNascimento" class="col-sm-2 col-form-label">Data de Nascimento</label>
                                    <input type="date" class="form-control" id="dataNascimento2" name="data_nascimento" value="{{ i.Data_Nascimento }}" required>
                                    <div class="invalid-feedback">
                                        Por favor, insira uma data de nascimento válida. O cliente deve ter pelo menos 18 anos.
                                    </div>
                                </div>
                            </div>
                

                            <div class="row mb-3">
                                <label for="endereco" class="col-sm-2 col-form-label">Endereço</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="endereco2" name="endereco" value="{{ i.Endereco }}" required>
                                    <div class="invalid-feedback">
                                        Por favor, insira um endereço válido.
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="cnh" class="col-sm-2 col-form-label">CNH</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="cnh" name="cnh" value="{{ i.Numero_CNH }}" required>
                                    <div class="invalid-feedback">
                                        Por favor, insira uma CNH válida.
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row mb-3">
                                <label for="tipoCnh" class="col-sm-2 col-form-label">Tipo CNH</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="tipoCnh" name="tipo_cnh" required>
                                        <option value="A" {% if i.Tipo_CNH == "A" %}selected{% endif %}>A</option>
                                        <option value="B" {% if i.Tipo_CNH == "B" %}selected{% endif %}>B</option>
                                        <option value="B" {% if i.Tipo_CNH == "A/B" %}selected{% endif %}>A/B</option>
                                        <option value="C" {% if i.Tipo_CNH == "C" %}selected{% endif %}>C</option>
                                        <option value="D" {% if i.Tipo_CNH == "D" %}selected{% endif %}>D</option>
                                        <option value="E" {% if i.Tipo_CNH == "E" %}selected{% endif %}>E</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Por favor, selecione um tipo de CNH válido.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="botaoConfirmarEdicao botao">
                            <button type="submit" name="form2">Confirmar</button>
                        </div>
                        <div class="botaoCancelarEdicao botao">
                            <a href="{{ url_for('pesquisar_clientes') }}"><button type="button">Cancelar</button></a>
                        </div>
                    </form>
                    <div class="responseMessage2" class="alert d-none" role="alert"></div>
                </div>
            </div>
        {% endfor %}

    {% endif %}
            
    <script>
        // Script para validação da data de nascimento (Editar cliente)
        document.querySelectorAll('.editarFuncionario').forEach(form => {
            form.addEventListener('submit', function(event) {
                const dataNascimentoInput = form.querySelector('input[name="data_nascimento"]');
                const dataNascimento = new Date(dataNascimentoInput.value);
                const dataAtual = new Date();
    
                let idade = dataAtual.getFullYear() - dataNascimento.getFullYear();
                const mes = dataAtual.getMonth() - dataNascimento.getMonth();
    
                if (mes < 0 || (mes === 0 && dataAtual.getDate() < dataNascimento.getDate())) {
                    idade--;
                }
    
                if (idade < 18) {
                    dataNascimentoInput.classList.add('is-invalid');
                    event.preventDefault();
                } else {
                    dataNascimentoInput.classList.remove('is-invalid');
                }
            });
        });
    </script>

</main>

{% endblock %}