:root {
	--color1: #2f98bc;
    --color2: #0000;
    --color3: #96c7d8;
    --color4: #7f7f7f;
    --color5: #7583f6;
    --color6: #494949;
    --color7: #ffff;
}

.navbar{
    display: flex!;
    justify-content:space-around !important;
    height: 150px;
    background-color: var(--color7) !important;
}

#navbarNav{
    justify-content: flex-end !important;
}

.navbar-collapse{
    background-color: var(--color7) !important;
    padding: 20px;
    z-index: 1000;
}
body{
    background-color: var(--color3);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

a.nav-link{
    font-size:20px;
    color: var(--color6);
}

a.nav-link:hover{
    color: var(--color1);
}

.navbar-brand p{
    font-size: 20px;
    color: var(--color6);
    font-weight: bold;
    text-decoration: none;
}

a.navbar-brand{
    display: flex;
}

li.nav-item{
    padding-left: 20px;
}

.active a{
    color: var(--color1);
}

a.logotipo{
    height: 80%;
}

img{
    height: 100%;
}

main.admin-home{
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icones{
    display: flex;
    gap:80px;
    flex-wrap: wrap;
    justify-content: center;
}

.icone{
    padding: 20px;
    border-radius: 36px;
    transition: transform 0.3s ease;
    width: 260px;
    height: auto;
}

.icone:hover{
    transform: scale(1.1);
}



@media (min-width:992px){
    #navbarNav{
        flex:0;
    }
}