.container {
    width: 100vw;
    position: relative;

}

#dados {
    margin: 0%;
    position: relative;
    right: 12ch;
    font-size: 20px;
    color: var(--color6);
    font-weight: bold;
    text-decoration: none;

    p {
        margin: 0%;
    }
}

#sugestoes {
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    background: #fff;
    position: absolute;
    width: 100%;
    z-index: 1;
}

#sugestoes div {
    padding: 8px;
    cursor: pointer;
}

#sugestoes div:hover {
    background: #f0f0f0;
}