.container {
    width: 100vw;
    position: relative;

}

#dados {
    margin: 0%;
    position: relative;
    right: 12ch;
    font-size: 20px;
    color: var(--color6);
    font-weight: bold;
    text-decoration: none;

    p {
        margin: 0%;
    }
}

#sugestoes {
    overflow-y: auto;
    background: #fff;
    z-index: 1;
    padding: 0;
    border: none;
}

#sugestoes div {
    cursor: pointer;
    border: 1px solid #dee2e6;
    padding: 5px;
}

#sugestoes div:hover {
    background: #f0f0f0;
}

